In [1]:
# Import the dependancies.
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Torbay,CA,2021-01-27 06:02:44,47.6666,-52.7314,33.01,100,90,23.02
1,1,Rikitea,PF,2021-01-27 06:02:45,-23.1203,-134.9692,79.70,75,43,12.35
2,2,Berlevag,NO,2021-01-27 06:02:45,70.8578,29.0864,24.80,80,75,12.66
3,3,Zabaykalsk,RU,2021-01-27 06:02:45,49.6333,117.3167,-6.92,88,90,13.38
4,4,Cape Town,ZA,2021-01-27 06:00:24,-33.9258,18.4232,69.01,82,75,12.66

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2021-01-27 06:02:45,-23.1203,-134.9692,79.70,75,43,12.35
7,7,Puerto Ayora,EC,2021-01-27 06:02:46,-0.7393,-90.3518,77.00,95,47,5.99
15,15,Avarua,CK,2021-01-27 06:02:47,-21.2078,-159.7750,82.40,74,80,13.80
19,19,Butaritari,KI,2021-01-27 06:02:48,3.0707,172.7902,81.09,78,27,11.23
24,24,Polur,IN,2021-01-27 06:02:49,12.5000,79.1333,82.20,45,9,7.31
25,25,Kavieng,PG,2021-01-27 06:02:49,-2.5744,150.7967,84.61,75,91,11.21
32,32,Bengkulu,ID,2021-01-27 05:58:12,-3.8004,102.2655,77.58,81,100,3.29
38,38,Lorengau,PG,2021-01-27 06:02:51,-2.0226,147.2712,84.70,70,91,10.56
40,40,Aracati,BR,2021-01-27 05:59:54,-4.5617,-37.7697,78.26,72,98,7.45
44,44,Souillac,MU,2021-01-27 06:02:54,-20.5167,57.5167,84.20,61,20,3.44

In [13]:
preferred_cities_df.count()

City_ID       141
City          141
Country       141
Date          141
Lat           141
Lng           141
Max Temp      141
Humidity      141
Cloudiness    141
Wind Speed    141
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1        Rikitea      PF     79.70 -23.1203 -134.9692
7   Puerto Ayora      EC     77.00  -0.7393  -90.3518
15        Avarua      CK     82.40 -21.2078 -159.7750
19    Butaritari      KI     81.09   3.0707  172.7902
24         Polur      IN     82.20  12.5000   79.1333
25       Kavieng      PG     84.61  -2.5744  150.7967
32      Bengkulu      ID     77.58  -3.8004  102.2655
38      Lorengau      PG     84.70  -2.0226  147.2712
40       Aracati      BR     78.26  -4.5617  -37.7697
44      Souillac      MU     84.20 -20.5167   57.5167

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

# Add the latitude and longitude to location key for the params dictionary.
params["location"] = f"{lat},{lng}"

# Use the search term: "lodging" and our latitude and longitude.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,79.70,-23.1203,-134.9692,Pension Maro'i
7,Puerto Ayora,EC,77.00,-0.7393,-90.3518,Castillo Galapagos
15,Avarua,CK,82.40,-21.2078,-159.7750,Paradise Inn
19,Butaritari,KI,81.09,3.0707,172.7902,Isles Sunset Lodge
24,Polur,IN,82.20,12.5000,79.1333,Sagar choubey
25,Kavieng,PG,84.61,-2.5744,150.7967,Nusa Island Retreat
32,Bengkulu,ID,77.58,-3.8004,102.2655,Grage Hotel Bengkulu
38,Lorengau,PG,84.70,-2.0226,147.2712,Lorengau Harbourside Hotel
40,Aracati,BR,78.26,-4.5617,-37.7697,Motel Pousada Milleniun - Aracati-CE
44,Souillac,MU,84.20,-20.5167,57.5167,Shanti Maurice Resort & Spa

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))