## Deliverable 3. Create a Travel Itinerary Map.

In [74]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [75]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hithadhoo,MV,81.99,moderate rain,-0.6000,73.0833,Scoop Guest House
1,5,Cape Town,ZA,70.00,broken clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
2,6,Pisco,PE,71.60,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
3,8,Arraial Do Cabo,BR,76.71,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
4,10,Mayumba,GA,78.28,light rain,-3.4320,10.6554,LIKWALE LODGE

In [100]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [101]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [102]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[vacation_df["City"] == "Veraval"]
vacation_stop1_df = vacation_df.loc[vacation_df["City"]=="Tezu"]
vacation_stop2_df = vacation_df.loc[vacation_df["City"]=="Pathein"]
vacation_stop3_df = vacation_df.loc[vacation_df["City"]=="Machilipatnam"]

In [103]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
veraval = vacation_start_df.iloc[0,5:7].to_numpy()
tezu = vacation_stop1_df.iloc[0,5:7].to_numpy()
pathein = vacation_stop2_df.iloc[0,5:7].to_numpy()
machilipatnam = vacation_stop3_df.iloc[0,5:7].to_numpy()

In [104]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(38, -122), zoom_level = 7)

roadtrip = gmaps.directions_layer(veraval, veraval, 
                                  waypoints=[tezu, pathein, machilipatnam],
                                  travel_mode="DRIVING")

In [105]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df,
                          vacation_stop2_df, vacation_stop3_df]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,353,Veraval,IN,70.99,broken clouds,20.9000,70.3667,Lords Inn Somnath
1,117,Tezu,IN,71.26,broken clouds,27.9167,96.1667,Circuit House
2,75,Pathein,MM,86.54,clear sky,16.7833,94.7333,Pathein Hotel
3,663,Machilipatnam,IN,78.80,mist,16.1667,81.1333,RK Family Restaurant

In [106]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [107]:
# 11a. Add a marker layer for each city to the map.
# marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(roadtrip)
# fig.add_layer(marker_layer)
# # 11b. Display the figure
# fig

# locations = vacation_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(roadtrip)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))